@charset "utf-8";
@import url(common.css);
@import url(header.css);
@import url(footer.css);
@import url(nav.css);

:root {
  /* Primary Colors */
  --color-primary: #004071;
  --color-blue: #0075CF;
  /* Secondary Colors */
  --color-secondary: #EC8D1B;
  --color-blue: #0075CF;
  /* border Color */
  --color-border: #E0E0E0;

  /* txt */
  --txt-sm-1: 0.9em;
  --txt-sm-3: 0.8em;
  --txt-lg-1: 1em;
  --txt-lg-2: 1.2em;
  --txt-lg-3: 1.3em;
  --txt-lg-4: 1.5em;
  --txt-xl-1: 2.3em;

  --font-root: 10px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
  background-color: #fff;
  color: #333;
}

.color-primary {
  background-color: var(--color-primary);
  color: #fff;
}

.color-secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

ul a {
  display: block;
}

/* Skip To Content */
#skipNav {
  position: absolute;
  left: 0;
  top: -1000px;
  width: 100%;
  height: 0px;
  z-index: 1000;
  line-height: 0px;
  font-size: 0px;
}

#skipNav a {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 0px;
  font-size: 0px;
}

#skipNav a:focus,
#skipNav a:hover,
#skipNav a:active {
  position: absolute;
  left: 0px;
  top: 1000px;
  padding: 8px 0;
  display: block;
  box-sizing: border-box;
  height: 36px;
  background: #20262c;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
}

html {
  font-size: var(--font-root);
}

@media (max-width: 980px) {
  html {
    font-size: 9px;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Pretendard", sans-serif;
  word-break: keep-all;
}

body.scroll-hdn,
body.modal,
body.sideMenuOpen {
  overflow: hidden;
}

body.modal::after,
.modal-box {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover:not(.btn) {
  color: var(--color-primary);
}

*:focus,
input[type="radio"]:focus+label,
input[type="checkbox"]:focus+label {
  outline-offset: -2px;
  outline: 2px dashed #99b0cb;
}

.container {
  display: block;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.container.max-container {
  max-width: 1620px;
}

@media (max-width: 1700px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (max-width: 1320px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 780px) {
  .header .top .container {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* width */
.w100 {
  width: 100% !important;
}

.w50 {
  width: 50% !important;
}

.w33 {
  width: 33.333% !important;
}

.w25 {
  width: 25% !important;
}

.w20 {
  width: 20% !important;
}

@media (max-width: 780px) {
  .m-w100 {
    width: 100% !important;
  }
}

/* flex */
.flex {
  display: flex !important;
}

.flex.wrap {
  flex-wrap: wrap !important;
}

.flex-col,
.flex.column {
  display: flex !important;
  flex-direction: column !important;
}

.flex-a-center {
  align-items: center !important;
}

.flex-j-center {
  justify-content: center !important;
}

.flex-j-between {
  justify-content: space-between !important;
}

.flex.center {
  align-items: center !important;
  justify-content: center !important;
}

.flex-j-end {
  justify-content: flex-end !important;
}

.flex-a-end {
  align-items: flex-end !important;
}

.flex-a-start {
  align-items: flex-start !important;
}

.gap-1 {
  gap: 0.5rem !important;
}

.gap-2 {
  gap: 1rem !important;
}

.gap-3 {
  gap: 1.5rem !important;
}

.gap-4 {
  gap: 2rem !important;
}

.gap-5 {
  gap: 3rem !important;
}

.gap-6 {
  gap: 4rem !important;
}

.flex-gr-1 {
  flex-grow: 1 !important;
}

.flex-sh-0 {
  flex-shrink: 0 !important;
}

.d-block {
  display: block !important;
}

.d-inlineFlex {
  display: inline-flex !important;
}

@media (max-width: 780px) {

  .flex.mbl-column,
  .flex-mbl-col {
    flex-direction: column !important;
  }
}

@media (max-width: 430px) {

  .flex.mini-column,
  .flex-mini-col {
    flex-direction: column !important;
  }
}

/* grid */
.grid {
  display: grid;
}

.grid.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid.col-3 {
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 780px) {
  .grid.m-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid.m-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 구분선 */
.division-line-row>* {
  position: relative;
}

.division-line-row>*::before {
  content: "";
  width: 1px;
  height: 0.7em;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #bdbdbd;
}

.division-line-row>*:last-child::before {
  display: none;
}

.divsion-row {
  display: block;
  margin-top: 8rem;
  margin-bottom: 8rem;
  height: 1px;
  width: 100%;
  background-color: #efefef;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* txt */
.point-txt {
  color: var(--color-primary);
}

.second-txt {
  color: var(--color-secondary);
}

.black-txt {
  color: #000;
}

.pen-txt {
  color: #000;
  position: relative;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
  flex-shrink: 0;
}

.pen-txt::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  display: inline-block;
  height: 0.8em;
  width: 100%;
  background-color: rgba(47, 85, 255, 0.1);
  z-index: 0;
}

.txt-small {
  font-size: 1.5rem;
}

.txt-sm {
  font-size: 0.9em !important;
}

.txt-md {
  font-size: 1.1em !important;
}

.txt-lg-1 {
  font-size: var(--txt-lg-1) !important;
}

.txt-lg-2 {
  font-size: var(--txt-lg-2) !important;
}

.txt-lg-3 {
  font-size: var(--txt-lg-3) !important;
}

.txt-lg-4 {
  font-size: var(--txt-lg-4) !important;
}

.txt-xl-1 {
  font-size: 2.3em !important;
}

.txt-center {
  text-align: center !important;
}

.txt-nowrap {
  white-space: nowrap;
}

.txt-red {
  color: #C03B3B;
}

.txt-blue {
  color: var(--color-blue);
}

.ff-pretendard {
  font-family: 'Pretendard';
}

.warning-txt,
.info-txt,
.ast-txt {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 1.2em;
  position: relative;
}

.warning-txt::before,
.info-txt::before,
.check-txt::before {
  content: "\eca0";
  font-family: "remixicon";
  margin-right: 0.5rem;
  color: var(--color-primary);
  font-size: 1.1em;
  position: absolute;
  left: 0;
  top: -0.05em;
}

.info-txt::before {
  content: "\ee58";
  color: rgb(255 133 13);
}

.check-txt::before {
  content: "\eb80";
  color: var(--color-secondary);
}

.desc-txt {
  color: #666;
  font-size: 0.9em;
}

.paragraph {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

/* title */
.contTitle-1 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 2rem;
}

.contTitle-1::before {
  content: '';
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: .5rem;
  transform: translateY(50%);
  background: url(../images/bullet1.svg) no-repeat;
}

.subTitle-1 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 3.5rem;
  color: #3A4047;
}

.subTitle-1::before {
  content: '';
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/bullet2.svg) no-repeat;
}

.contTitle-2 {
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 2rem;
}

.box-tit-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.box-tit-group .tit,
.box-tit-group .title {
  font-size: 2em;
  font-weight: 800;
  background: linear-gradient(90deg,
    var(--color-primary) 0,
    var(--color-secondary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.box-tit-group .title {
  font-size: 2.6rem !important;
}

.box-tit-group i {
  font-size: 5rem;
  background: linear-gradient(90deg,
    var(--color-primary) 0,
    var(--color-secondary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* box */
.bord-box {
  border: solid 1px var(--color-border);
  padding: 2rem;
}

.box {
  padding: 2rem;
}

.bord-box.round,
.box.round {
  border-radius: 0.8rem !important;
}

.bord-box.gray,
.box.gray {
  background-color: #f9f9f9 !important;
}

.bord-box.whBlue {
  background-color: rgba(47, 106, 255, 0.02) !important;
}

.box-shadow,
.box.shadow {
  box-shadow: 0 4px 10px rgba(100, 100, 100, 0.1);
}

.desc-box {
  padding: 2rem;
  border: solid 1px var(--color-border);
  border-left: solid 2px var(--color-primary);
  background-color: rgba(47, 106, 255, 0.02);
}

.w800-box {
  max-width: 800px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.w450-box {
  max-width: 450px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (max-width: 860px) {
  .w800-box {
    max-width: none !important;
  }
}

@media (max-width: 560px) {
  .w450-box {
    max-width: none !important;
  }
}

/* padding */
.pa0 {
  padding: 0rem !important;
}

.pa1 {
  padding: 1rem !important;
}

.pa2 {
  padding: 2rem !important;
}

.pa3 {
  padding: 3rem !important;
}

.pa4 {
  padding: 4rem !important;
}

.pl1 {
  padding-left: 1rem !important;
}

.pr1 {
  padding-right: 1rem !important;
}

.pt1 {
  padding-top: 1rem !important;
}

.pb1 {
  padding-bottom: 1rem !important;
}

.pa2 {
  padding: 2rem !important;
}

.pl2 {
  padding-left: 2rem !important;
}

.pr2 {
  padding-right: 2rem !important;
}

.pt2 {
  padding-top: 2rem !important;
}

.pb2 {
  padding-bottom: 2rem !important;
}

.pb3 {
  padding-bottom: 3rem !important;
}

/* margin */
.ma0 {
  margin: 0rem !important;
}

.ma1 {
  margin: 1rem !important;
}

.ma2 {
  margin: 2rem !important;
}

.ml1 {
  margin-left: 1rem !important;
}

.mr1 {
  margin-right: 1rem !important;
}

.ml2 {
  margin-left: 2rem !important;
}

.mr2 {
  margin-right: 2rem !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb1 {
  margin-bottom: 1rem !important;
}

.mb2 {
  margin-bottom: 2rem !important;
}

.mb3 {
  margin-bottom: 3rem !important;
}

.mb4 {
  margin-bottom: 4rem !important;
}

.mb5 {
  margin-bottom: 5rem !important;
}

.mb8 {
  margin-bottom: 8rem !important;
}

.mb10 {
  margin-bottom: 10rem !important;
}

.mt1 {
  margin-top: 1rem !important;
}

.mt2 {
  margin-top: 2rem !important;
}

.mt3 {
  margin-top: 3rem !important;
}

.mt4 {
  margin-top: 4rem !important;
}

.mt4 {
  margin-top: 4rem !important;
}

/* font-weight */
.fw700 {
  font-weight: 700 !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw300 {
  font-weight: 300 !important;
}

.img-fit-cover {
  object-fit: cover;
}

/* list */
.b-list {
  display: flex;
  flex-direction: column;
}

.b-list ul {
  margin-left: 0;
  padding-left: 1rem;
}

.b-list.disc>li,
.bullet {
  display: flex;
  position: relative;
  padding-left: 0.7em;
  align-items: center;
}

.b-list.disc>li::before,
.bullet .disc-sm::before,
.bullet .squre::before {
  content: "";
  display: flex;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #333;
  margin-right: 0.5rem;
  position: absolute;
  left: 0;
  top: 0.5em;
}

.bullet .disc::before {
  width: 5px;
  height: 5px;
}

.bullet .squre::before {
  width: 5px;
  height: 5px;
  border-radius: 0;
}

.bullet .label::before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/bullet3.svg) no-repeat;
}

.b-list.disc.point>li::before {
  background-color: var(--color-primary);
}

.b-list.bar li::before {
  content: "-";
  font-size: 14px;
  margin-right: 5px;
}

.b-list.decimal {
  list-style-type: decimal;
  margin-left: 2rem;
}

.list-bb-dashed>li,
.bb-dashed {
  border-bottom: dashed 1px #dcdcdc;
}

.list-bb-dashed:not(.last-bb-none)>li:last-child {
  border-bottom: none;
}

.h-bar {
  position: relative;
  height: 1.4rem;
}

.h-bar::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--color-border);
  position: absolute;
  left: 0;
  top: 0;
}

/* dialog */
.dialog {
  display: none;
}

.dialog.open {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.dialog.open>* {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  z-index: 10;
  max-width: 750px;
  width: calc(100% - 40px);
}

.dialog.dialog-full .inner {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  transform: none;
  max-width: none !important;
  max-height: 90%;
  border-radius: 0;
}

.dialog.large.open>* {
  max-width: 1280px;
}

.dialog.open::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.dialog .inner {
  border-radius: 1.2rem;
  background-color: #f9f9f9;
  overflow: hidden;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

.dialog .head {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(45deg,
    var(--color-primary),
    var(--color-secondary));
  color: #fff;
  align-items: center;
}

.dialog .head .dialog-btn {
  padding: 1rem;
}

.dialog .head .closeBtn::before {
  content: "\eb98";
  font-family: "remixicon";
}

.dialog .head .fullBtn::before {
  content: "\ed9c";
  font-family: "remixicon";
}

.dialog .head .fullBtn.toggle::before {
  content: "\ed99";
}

.dialog .head .title {
  font-weight: 700;
}

.dialog .body {
  padding: 4rem;
  overflow: auto;
  flex-grow: 1;
}

.dialog .foot {
  border-top: solid 1px #dcdcdc;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  background-color: #ededed;
}

#dialog-popup>.inner {
  background-color: transparent;
  color: #fff;
  max-width: 1400px;
  position: relative;
  overflow: visible;
}

#dialog-popup .foot {
  background-color: transparent;
  border: none;
}

#dialog-popup .popup-button-next,
#dialog-popup .popup-button-prev {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background-color: rgba(255, 255, 255, .2);
}

#dialog-popup .popup-button-next {
  right: -40px;
}

#dialog-popup .popup-button-prev {
  left: -40px;
}

.swiper-button-disabled {
  opacity: .3;
}

@media (max-width:1520px) {

  #dialog-popup .popup-button-next,
  #dialog-popup .popup-button-prev {
    top: 0;
    transform: translateY(-100%);
    border-radius: 0;
    width: 4rem;
    height: 4rem;
  }

  #dialog-popup .popup-button-next {
    right: 50px;
  }

  #dialog-popup .popup-button-prev {
    left: auto;
    right: calc(4rem + 60px);
  }
}

/* form */
.form-list {
  table-layout: fixed;
  width: 100%;
  border-top: solid 1px var(--color-border);
}

.form-list td {
  padding: 1rem 2rem;
  border-bottom: solid 1px var(--color-border);
  vertical-align: top;
}

.form-list .form-fuild {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.form-list .form-label {
  position: relative;
  display: grid;
  width: 100%;
  align-items: center;
  font-weight: 500;
  grid-template-columns: repeat(2, 1fr);
}

.form-list input[type=text],
.form-list input[type=password],
.form-list input[type=email],
.form-list input[type=number],
.form-list input[type=number],
.form-list input[type=file],
select {
  width: 100%;
}

.form-list .sub-label {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: .9em;
}

.form-list .sub-label::before {
  content: "";
  width: 1px;
  height: 1.4rem;
  background-color: var(--color-border);
}

@media (max-width:1280px) {

  .form-list,
  .form-list tbody {
    display: block;
  }

  .form-list tr {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:780px) {
  .form-list .form-fuild {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:480px) {
  .form-list .form-fuild {
    grid-template-columns: 1fr;
  }

  .form-list .form-fuild .form-label {
    display: flex;
    margin-bottom: .5rem;
  }

  .form-list .form-fuild .sub-label {
    margin-left: 1rem;
    align-items: center;
  }

  .form-list td {
    padding: 1rem 0;
  }

  .form-list .form-fuild .form-label .blind:not(.require-txt) {
    display: inline-block !important;
    position: static !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important;
  }
}

select {
  width: 100%;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=number],
input[tye=file],
select {
  border: solid 1px var(--color-border);
  border-radius: .4rem;
  padding: 1rem;
}

select {
  background: #fff;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px 16px;
}

@media (max-width:780px) {
  .form-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* position */
.p-relative {
  position: relative !important;
}

/* scroll style */
body *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body *::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 10px;
}

body *::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px white;
}

.scroll-box-row {
  overflow-x: auto !important;
}

.scroll-box-row .fix-cont-lg {
  min-width: 1280px;
}

.scroll-box-row .fix-cont-md {
  min-width: 1024px;
}

.scroll-box-row .fix-cont-sm {
  min-width: 780px;
}

.block-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.count-label {
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  color: var(--color-primary);
  font-weight: 500;
  border-radius: 0.5rem;
  border: solid 1px rgba(0, 0, 0, 0.2);
  font-size: 0.9em;
}

.require::before {
  content: "*";
  position: absolute;
  right: 1rem;
  top: 0;
  color: #0075CF;
  font-size: 15px;
  transform: translateY(10px);
}

.uploadFile-box {
  background: #fafafa;
  border: dashed 1px #cdcdcd;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.scroll-box {
  background-color: #fafafa;
  width: 100%;
  overflow-y: auto;
  padding: 2rem;
  border: solid 1px var(--color-border);
}

/* table */
.table {
  width: 100%;
  border-top: solid 2px var(--color-blue);
}

.table.fixed {
  table-layout: fixed;
}

.table th {
  background-color: #FCFCFC;
  font-weight: 700;
}

.table th,
.table td {
  border-bottom: solid 1px var(--color-border);
  border-left: solid 1px var(--color-border);
  border-right: solid 1px var(--color-border);
  padding: .7em;
  align-items: middle;
}

.table.center th,
.table.center td {
  text-align: center;
}

.table th:first-child,
.table th:last-child,
.table td:first-child,
.table td:last-child {
  border-left: none;
  border-right: none;
}

/* popup img */
.popup-image {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.img-box {
  cursor: pointer;
  position: relative
}

.img-box:hover::before {
  content: "\ea80";
  font-family: "remixicon";
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

@media (max-width: 780px) {
  .img-box::before {
    content: "\ea80";
    font-family: "remixicon";
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}

.new-window::after {
  content: "\EB87";
  font-family: "remixicon";
  font-size: 1.4rem;
  margin-left: 0.5rem;
}


@media (max-width: 780px) {
  .mobile-none {
    display: none;
  }
}